.form1{
display: grid;
place-content:center;
margin-top: 10%;

}

.background-color{
  background: linear-gradient(to bottom, rgba(228, 236, 225, 0.637), rgba(11, 217, 148, 0.538));
  overflow-x: hidden;
  height: 100vh;
}