<app-navbar></app-navbar>
<div class = 'background-color' >
  <br>
<div class="top-bar">
    <h2>Savings Calculator</h2>
</div>
<br>
<form >
    <div class='Savings'>
        <label type="text">Starting Balance: $</label>
        <input [(ngModel)]= "balance" type="number"  name="balance" placeholder="Enter Balance">

        <label type="text">Monthly Contribution: $</label>
        <input [(ngModel)]= "monthlyContribution" type="number"  name="monthlyContribution" placeholder="monthlyContribution">

        <label type="text">Length of Investment: </label>
        <input [(ngModel)]= "years" type="number"  name="years" placeholder="years">

        <label type="text">Annual Percentage Yield: %</label>
        <input [(ngModel)]= "apy" type="number"  name="apy" placeholder="apy">
    </div>
</form>
<div class="flex-container">  
    <div><button (click) ="cal()" mat-button-color="primary" class='btn'>Calculate: </button>
    </div>
    <div>
        <h3>Total Savings{{sum}}</h3>
    </div>
    </div>  
</div>
