<app-navbar></app-navbar>
<div class="container text-center" >
    <div class="column">
    <h4>How Much Would You Like To Pay?</h4>
    <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input [(ngModel)] = "payAmount" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-text">.00</span>
      </div>
    
    <div class="btn">
        <button (click) = "onPay()" type="button" class="btn btn-primary">Pay</button>
        <button (click) = "onCancel()" type="button" class="btn btn-danger">Cancel</button>
    </div>
</div>
</div>